# Allow NFC service to be found
allow platform_app nfc_service:service_manager find;

# Allow FastCharge HAL service to be found
hal_client_domain(platform_app, hal_lineage_fastcharge)

# Allow LiveDisplay HAL service to be found
hal_client_domain(platform_app, hal_lineage_livedisplay)

# Allow PowerShare HAL service to be found
hal_client_domain(platform_app, hal_lineage_powershare)

# Allow Touch HAL service to be found
hal_client_domain(platform_app, hal_lineage_touch)

# Allow externalstorage access
allow platform_app mnt_pass_through_file:dir { create_dir_perms mounton };

# Allow bypassing the FUSE layer
r_dir_file(platform_app, mnt_pass_through_file)

# Allow Launcher3 to access zram
allow platform_app sysfs_zram:dir search;
allow platform_app sysfs_zram:file r_file_perms;

# Allow Seedvault to control whether system-scheduled backups act as migrations (D2D transfers)
set_prop(platform_app, backup_d2d_prop)
